.rst-current-version {
  display: none !important;
}
.wy-nav-side {
  background-color: #000 !important;
}
.wy-side-nav-search {
  background-color: transparent !important;
}
.wy-breadcrumbs-aside {
  display: none !important;
}
.rst-content code, .rst-content tt, code {
  border: none !important;
}
footer {
  display: none !important;
}