.rst-current-version {
  display: none !important;
}

.wy-nav-side {
  background-color: #000 !important;
}

.wy-side-nav-search {
  background-color: transparent !important;
}

.footer {
  display: none !important;
}

.rst-content code, .rst-content tt, code {
  border: none !important;
}